.tg {
	border-collapse:collapse;
	border-spacing:0;
	margin:0px auto;
}

.tg td {
	border:0;
	border-width:0px;
	overflow:hidden;
	width:40px;
	height:40px;
}

table {
	table-layout: fixed;
  width: 200px;
}

.table-shadow {
	box-shadow: 10px 10px 5px grey;
}

html, body {
    height: 100%;
}
.container-fluid {
    height: 100%;
		overflow-y: visible;
}

.bg-custom-forest {
   background: url('../images/forest.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.bg-custom-flower {
   background: url('../images/flower.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.bg-custom-ocean {
   background: url('../images/ocean.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.bg-custom-rainy {
   background: url('../images/rainy.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.bg-custom-white {
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.black_stone_selector {
	display: inline-block;
}

.white_stone_selector {
	display: inline-block;
}

.black_stone {
	width:40px;
	height:40px;
	background-image: url('../images/black.png');
	background-size: 100%;
}

.white_stone {
	width:40px;
	height:40px;
	background-image: url('../images/white.png');
	background-size: 100%;
}

.board {
	cursor:pointer;
}

@media screen and (max-width: 767px) {
	.tg {
		width: auto !important;
	}

	.tg col {
		width: auto !important;
	}

	.tg-wrap {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		margin: auto 0px;
	}
}
