.tg {
	border-collapse:collapse;
	border-spacing:0;
	margin:0px auto;
}

.tg td {
	border:0;
	border-width:0px;
	overflow:hidden;
	width:40px;
	height:40px;
}

table {
	table-layout: fixed;
  width: 200px;
	box-shadow: 10px 10px 5px grey;
}

.black_stone_selector {
	/* cursor:pointer;

	width:40px;
	height:40px;
	background-image: url('../images/black.png');
	background-size: 100%; */
	display: inline-block;
}

.white_stone_selector {
	/* cursor:pointer;

	width:40px;
	height:40px;
	background-image: url('../images/white.png');
	background-size: 100%; */
	display: inline-block;
}

.black_stone {
	width:40px;
	height:40px;
	background-image: url('../images/black.png');
	background-size: 100%;
}

.white_stone {
	width:40px;
	height:40px;
	background-image: url('../images/white.png');
	background-size: 100%;
}

.board {
	cursor:pointer;
}

@media screen and (max-width: 767px) {
	.tg {
		width: auto !important;
	}

	.tg col {
		width: auto !important;
	}

	.tg-wrap {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		margin: auto 0px;
	}
}
